@font-face {
    font-family: jura-bold;
    src: url(/resources/fonts/jura/Jurademibold.ttf);
}

@font-face {
    font-family: jura-medium;
    src: url(/resources/fonts/jura/Juramedium.ttf);
}

@font-face {
    font-family: orbitron-bold;
    src: url(/resources/fonts/orbitron/OrbitronBold.ttf);
}


h2{
    font-family: orbitron-bold;
    font-size: 40px;
}

h3{
    font-family: jura-bold;
    font-size: 30px;
}

h4{
    font-family: jura-bold;
    font-size: 30px;
}

a{
    color: black;
    text-decoration: none;
}

p{
    line-height: 30px;
    font-family: jura-medium;
    font-size: 30px;
}

a:hover{
    color: black;
}

body{
    width: 100%;
    height: 100vh;
    text-align: center;
    background: linear-gradient(-45deg, #7A5858 20%, #367e77);
}

.trinLogo-container{
    margin: 0;
    padding: 0;
}

.trinLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 70px;
    color: white;
    background-color: #202020;
}

.logo-text{
    font-size: 30px;
    font-family: jura-bold;
}

.main-container{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.input-text{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 50%;
}

.input-input{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 50%;
}

.input{
    padding: 15px;
    font-size: 20px;
    color: white;
    background-color: #202020;
    width: 310px;
    height: 70px;
    border-radius: 200px;
    border: 0;
}

.btn{
    font-size: 20px;
    color: white;
    background-color: #202020;
    height: 60px;
    width: 300px;
    border-radius: 100px;
    transition: all 0.5s;
    border: solid #202020 2px;
}

.btn:hover{
    background-color: white;
    border: solid black 2px;
}

#if-wrong-display{
    color: red;
    visibility: hidden;
}

#register-wrong{
    font-family: jura-bold;
    font-size: 30px;
    color: red;
    visibility: hidden;
}

@media only screen and (max-width: 768px) {
    .trinLogo{
        width: 150px;
        height: 60px;
    }

    .logo-text{
        font-size: 24px;
    }

    h2{
        font-size: 35px;
    }

    h3{
        font-size: 28px;
    }

    h4{
        font-size: 28px;
    }
    
    #register-wrong{
        font-size: 28px;
    }

    .input{
        font-size: 20px;
        width: 240px;
        height: 60px;
    }

    .btn{
        width: 200px;
        height: 60px;
    }
}

@media only screen and (max-width: 600px) {

    .input-text{
        justify-content: center;
        width: 100%;
    }

    .input-input{
        justify-content: center;
        width: 100%;
    }

    .input{
        width: 300px;
    }
}

@media only screen and (max-width: 450px) {
    .main-container{
        position: relative;
        left: 0;
        top: 0;
        transform: translate(0%, 0%);
    }

    .trinLogo{
        width: 140px;
        height: 50px;
    }

    .logo-text{
        font-size: 18px;
    }

    h2{
        font-size: 35px;
    }

    h3{
        font-size: 26px;
    }

    h4{
        font-size: 27px;
    }

    #register-wrong{
        font-size: 27px;
    }

    .input{
        width: 300px;
    }

    .btn{
        font-size: 20px;
    }
}
